* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */

body {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: rgba(230, 230, 230, 0.527);
}

/* Header */

.top {
    height: 100px;
    line-height: 100px;
    background-color: white;
}

#logo {
    vertical-align: middle;
    margin-left: 25px;
}

h1 {
    vertical-align: middle;
    display: inline-block;
    font-size: 2.5em;
    font-weight: 700;
}

/* Main */

.container-top {
    height: 60px;
    width: 60%;
    margin: 50px auto;
    margin-bottom: 0;
    border-radius: 2% 2% 0 0;
    background-color: white;
}

.container-main {
    height: 500px;
    width: 60%;
    margin: 1px auto;
    border-radius: 0 0 2% 2%;
    background-color: white;
}

.button-task {
    color: white;
    margin-top: 18px;
    margin-left: 75px;
    border-radius: 10%;
    height: 27px;
    width: 80px;
    background-color: rgba(22, 135, 228, 0.699);
}

.button-selection {
    margin-top: 18px;
    margin-left: 0;
    border-radius: 10%;
    height: 27px;
    width: 90px;
    background-color: white;
}

.text {
    margin-left: 75px;
    list-style-position: inside;
    line-height: 40px;
}

.New-task {
    list-style-type:georgian ;
}

/* ul{
    list-style: none;
}

ul li::before{
    content:"✓";
} */

.check{
    list-style-type: circle;
    
}

.error{
    list-style-type: circle;
}

.coso {
    box-sizing: content-box;
    padding: 5px;
    color: white;
    font-size: 10px;
    border-radius: 30% ;
}

.editor{
    background-color:rgba(22, 135, 228, 0.699) ;
}

.Q1{
    background-color: rgba(137, 43, 226, 0.699);
}

.Recrui{
    background-color: rgba(23, 114, 23, 0.575);
}

.Mobile{
    background-color: orange;
}

.Web{
    background-color: orchid;
}

.Sales{
    background-color: rgba(134, 190, 50, 0.705);
}